<div class="existing-forums-container mat-elevation-z8">
  <div class="existing-forums-header">
    <mat-toolbar>
      <span>Existing forums</span>
    
      <!-- This fills the remaining space of the current row -->
      <span class="fill-remaining-space" ></span>      

      <div class="filter">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>  
      
    
    </mat-toolbar>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort>
    
    <ng-container matColumnDef="forumlink">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Forum Link </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.forumlink}} </mat-cell>
    </ng-container>

   
    <ng-container matColumnDef="forumname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Forum Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.forumname}} </mat-cell>
    </ng-container>

   
    <ng-container matColumnDef="forumnumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Forum Number </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.forumnumber}} </mat-cell>
    </ng-container>
   
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table> 
</div>
