<mat-toolbar color="primary">
  <span>Compare forums</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  
  <button mat-raised-button color="accent" (click)="openFeedbackForm()">Feedback</button>

</mat-toolbar>


<div style="display: flex">
  <div style="width: 50%; align-content: center; padding: 5px"> <app-existing-forums [siteid]= 'siteid'></app-existing-forums> </div>
  <div style="width: 50%; align-content: center; padding: 5px"> <app-new-forums [siteid]= 'siteid'></app-new-forums> </div>
</div>
