.new-forums-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.new-forums-header .mat-form-field{
  padding: 0 24px
}

.mat-table {
  overflow: auto;
  max-height: 100%;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.fill-remaining-space { 
  flex: 1 1 auto;
}

.filter {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
