<div class="flex-container">
  <div class="row">
    <div class="flex-item">
      <h1 style="padding: 0">Site list</h1>
    </div>
    <div class="flex-item">
        <div class="example-container mat-elevation-z8">
                <div class="example-header">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
                </div>
                <mat-table #table [dataSource]="dataSource" matSort>

                        <!-- Position Column -->
                        <ng-container matColumnDef="login">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                                    <mat-cell *matCellDef="let user"> {{user.login}} </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                                    <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="url">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
                          <mat-cell *matCellDef="let user"> {{user.url}} </mat-cell>
                        </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="created_at">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Company </mat-header-cell>
                        <mat-cell *matCellDef="let user"> {{user.created_at}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator
                [pageSize]="10"
                [pageSizeOptions]="[1, 5, 10, 20, 100]">
            </mat-paginator>
        </div>
    </div>
  </div>
</div>
