<h2>Feedback</h2>
<h3><i>Give us feedback, please</i></h3>

<form [formGroup]="feedbackForm" novalidate>
  <div class="form-group">   
      <mat-form-field>
          <input matInput  formControlName="newForums" placeholder="New forums">
          <!-- <mat-error *ngIf="feedbackForm.controls['newForums'].errors.required">{{'Field is required'}}</mat-error> -->
      </mat-form-field>
      <br>
      <br>
      <mat-form-field>
          <input matInput  formControlName="archivedNum" placeholder="Number of forums to be archived">
      </mat-form-field>
      <br>
      <br>
      <mat-form-field>
          <input matInput  formControlName="completedSuccessfuly" placeholder="GF completed successfuly">
      </mat-form-field>   
  </div>
</form>

<mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary"
            [disabled]="feedbackForm.pristine" [mat-dialog-close]="feedbackForm">Save</button> &nbsp;
    <button type="reset"  mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>



<!-- <p>Form value: {{ feedbackForm.value | json }}</p>
<p>Form status: {{ feedbackForm.status | json }}</p> -->

